.nav{
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
}
.nav img{
height: 20px;
width: 30px;
margin-left: 1opx;
margin-right: 10px;
}
.nav-detail{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.nav-detail li{
    list-style: none;
}
.nav-detail li a{
        color:aliceblue ;
        text-decoration: none;
        margin-left: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;    
    }
    .nav-detail li a:hover{
        color: #F4511E;
    }
.ul{
    display: flex;
}